<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>Give Us Detail</h1>
    <p>This is the deatail page.</p>
    <a href="/">Home</a> | <a href="/contact">contact</a> | <a href="/about">About</a> | <a href="/registration">registration</a>
</body>
</html>